<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Please sign in</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
        rel="stylesheet">
  <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css"
        rel="stylesheet">
</head>
<body>
<div class="container">
  <form th:action="@{/login}" class="form-signin" method="post">
    <h2 class="form-signin-heading">Please sign in</h2>

    <!-- Error message for invalid login -->
    <div th:if="${param.error}" class="alert alert-danger" role="alert">
      Invalid username or password. Please try again.
    </div>

    <p>
      <label for="username" class="sr-only">Username</label>
      <input type="text" id="username" name="username" class="form-control"
             placeholder="Username"
             required="" autofocus="">
    </p>
    <p>
      <label for="password" class="sr-only">Password</label>
      <input type="password" id="password" name="password" class="form-control"
             placeholder="Password"
             required="">
    </p>

    <!-- CSRF token for login -->
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

    <!-- Link to registration page -->
    <p class="container">
      <a th:href="@{/register}">Don't have an account? Register here</a>
    </p>
  </form>
</div>
</body>
</html>