<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
        rel="stylesheet">
  <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css"
        rel="stylesheet">
</head>
<body>
<div class="container">
  <form th:action="@{/register}" class="form-signin" method="post">
    <h2 class="form-signin-heading">Create new User</h2>

    <!-- Error message for registration failure -->
    <div th:if="${error}" class="alert alert-danger" role="alert">
      <span th:text="${error}"></span>
    </div>

    <!-- Success message for registration -->
    <div th:if="${success}" class="alert alert-success" role="alert">
      <span th:text="${success}"></span>
    </div>

    <p>
      <label for="username" class="sr-only">Username</label>
      <input type="text" id="username" name="username" class="form-control"
             placeholder="Username"
             required="" autofocus="">
    </p>
    <p>
      <label for="password" class="sr-only">Password</label>
      <input type="password" id="password" name="password" class="form-control"
             placeholder="Password"
             required="">
    </p>

    <!-- CSRF token for registration -->
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

    <button class="btn btn-lg btn-success btn-block" type="submit">Save User</button>

    <!-- Link to login page -->
    <p class="container">
      <a th:href="@{/login}">Already have an account? Sign in here</a>
    </p>
  </form>
</div>
</body>
</html>