<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update Book</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<form th:action="@{/library/books/update}" th:object="${book}" method="post">
  <input type="hidden" name="_method" value="put"/>
  <div class="container">
    <h1>Update Book</h1>
    <div class="content-container">
      <div class="table-container">
        <div class="table-body-container">
          <table>
            <tbody>
            <tr>
              <td><label for="id">ID:</label></td>
              <td><input type="text" id="id" th:field="*{id}" required/></td>
            </tr>
            <tr>
              <td><label for="title">Title:</label></td>
              <td><input type="text" id="title" th:field="*{title}" required/></td>
            </tr>
            <tr>
              <td><label for="author">Author:</label></td>
              <td><input type="text" id="author" th:field="*{author}" required/></td>
            </tr>
            <tr>
              <td><label for="genre">Genre:</label></td>
              <td><input type="text" id="genre" th:field="*{genre}" required/></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div>
        <button type="submit" class="button">Update Book</button>
        <a href="#" th:href="@{/library/books}" class="button">Back</a>
      </div>
    </div>
    <h3 th:if="${success}" style="color: green;" th:text="${success}"></h3>
    <h3 th:if="${error}" style="color: red;" th:text="${error}"></h3>
  </div>
</form>
</body>
</html>